.pf2ar-roller {
    text-align: center;
}

.pf2ar-roller img {
    border: none;
}

.pf2ar-roller img:hover {
    box-shadow: 0 0 10px #ff6400;
}

.pf2ar-pc-img img {
    min-height: 90px;
    min-width: 90px;
    max-height: 90px;
    max-width: 90px;
    border: none;
}

.pf2ar-pc-img img:hover {
    box-shadow: 0 0 10px #ff6400;
}

.pf2ar-data-header {
    font-size: large;
    border-bottom: 1px solid black;
}

.pf2ar-ac {
    width: 45px;
    padding-right: 5px;
    text-align: right;
    font-weight: bolder;
}

.pf2ar-skill-name {
    text-align: right;
    font-weight: bolder;
}

.pf2ar-data-cell {
    text-align: center;
}

.pf2ar-skill-dc {
    width: 45px;
    text-align: right;
    padding-right: 5px;
    border-right: 1px solid black;
}

.pf2ar-skill-roll {
    width: 45px;
    text-align: left;
    padding-left: 5px;
}

.pf2ar-table-divider {
    border-top: 1px solid black;
}

.pf2ar-data-cell.crit {
    font-weight: bolder;
    color: green;
}

.pf2ar-data-cell.fumble {
    font-weight: bolder;
    color: darkred;
}

.pf2ar-skill-data-row:hover {
    background-color: lightyellow;
    box-shadow: 0 0 10px #ff6400;
}

.pf2ar-table .rollable:hover {
    cursor: pointer;
}