<form class="flexcol">
    <table>
        {{#each SKILLS}}
        <tr>
            <td><label for="{{id}}">{{name}}</label></td>
            <td><input type="checkbox" name="{{id}}" {{lookup ../settings id}}/></td>
        </tr>
        {{/each}}
        {{#each SAVES}}
        <tr>
            <td><label for="{{id}}">{{name}}</label></td>
            <td><input type="checkbox" name="{{id}}" {{lookup ../settings id}}/></td>
        </tr>
        {{/each}}
    </table>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> OK
        </button>
    </footer>
  </form>