<table class='pf2ar-table'>
    <tr>
        <th>Roll All</th>
        {{#each pcs}}
            <th colspan=2>{{name}}</th>
        {{/each}}
    </tr>
    <tr>
        <td class='pf2ar-roller rollable'><img src="icons/svg/d20-grey.svg"/></td>
        {{#each pcs}}
            <td colspan=2 class='pf2ar-pc-img rollable' data-actor='{{@index}}'><img src="{{image}}"/></td>
        {{/each}}
    </tr>
    <tr>
        <td></td>
        {{#each pcs}}
            <td class='pf2ar-ac'>AC:</td>
            <td class='pf2ar-skill-roll'>{{lookup dcs 'ac'}}</td>
        {{/each}}
    </tr>
    <tr class='pf2ar-data-header'>
        <th>Skill</th>
        {{#each pcs}}
            <th class='pf2ar-skill-dc'>DC</th>
            <th class='pf2ar-skill-roll'>Roll</th>
        {{/each}}
    </tr>
    {{#each SKILLS}}
        <tr class='pf2ar-skill-data-row'>
            <td class='pf2ar-skill-name rollable' data-skill='{{id}}'>{{name}}</td>
            {{#each ../pcs}}
                <td class='pf2ar-data-cell pf2ar-skill-dc'>{{lookup dcs ../id}}</td>
                <td class='pf2ar-data-cell pf2ar-skill-roll {{lookup crits ../id}}'>{{lookup rolls ../id}}</td>
            {{/each}}
        </tr>
    {{/each}}
    <tr class='pf2ar-table-divider'></tr><tr></tr>
    {{#each SAVES}}
        <tr class='pf2ar-skill-data-row'>
            <td class='pf2ar-skill-name rollable' data-skill='{{id}}'>{{name}}</td>
            {{#each ../pcs}}
                <td class='pf2ar-data-cell pf2ar-skill-dc'>{{lookup dcs ../id}}</td>
                <td class='pf2ar-data-cell pf2ar-skill-roll {{lookup crits ../id}}'>{{lookup rolls ../id}}</td>
            {{/each}}
        </tr>
    {{/each}}
</table>

