<form class="flexcol">
    <table>
        {{#each PCS}}
        <tr>
            <td><label for="{{@key}}">{{name}}</label></td>
            <td><input type="checkbox" name="{{@key}}" {{show}}/></td>
        </tr>
        {{/each}}
    </table>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fa fa-check"></i> OK
        </button>
    </footer>
  </form>